################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mycorrhiza/FileContentIndex
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Content/.vs
/.vs/Mycorrhiza/v17/DocumentLayout.json
/.vs/Mycorrhiza/v17/.wsuo
/.vs/Mycorrhiza/CopilotIndices/17.14.1679.25730/CodeChunks.db
/.vs/Mycorrhiza/CopilotIndices/17.14.1679.25730/SemanticSymbols.db
/.vs/Mycorrhiza/DesignTimeBuild/.dtbcache.v2
/.vs/Mycorrhiza/v17/.futdcache.v2
/.vs/Mycorrhiza/v17/.suo
/.vs/Mycorrhiza/v17/DocumentLayout.backup.json
/.vs/ProjectEvaluation/mycorrhiza.metadata.v9.bin
/.vs/ProjectEvaluation/mycorrhiza.projects.v9.bin
/.vs/ProjectEvaluation/mycorrhiza.strings.v9.bin
/.vs/Mycorrhiza/CopilotIndices/17.14.1679.25730/CodeChunks.db-shm
/.vs/Mycorrhiza/CopilotIndices/17.14.1679.25730/CodeChunks.db-wal
/.vs/Mycorrhiza/CopilotIndices/17.14.1679.25730/SemanticSymbols.db-shm
/.vs/Mycorrhiza/CopilotIndices/17.14.1679.25730/SemanticSymbols.db-wal
/bin/Debug/net8.0/Mycorrhiza.deps.json
/bin/Debug/net8.0/Mycorrhiza.dll
/bin/Debug/net8.0/Mycorrhiza.pdb
/bin/Debug/net8.0/AltLibrary.dll
/bin/Debug/net8.0/BreadLibrary.dll
/obj/Debug/net8.0/Mycorrhiza.AssemblyInfo.cs
/obj/Debug/net8.0/Mycorrhiza.AssemblyInfoInputs.cache
/obj/Debug/net8.0/Mycorrhiza.assets.cache
/obj/Debug/net8.0/Mycorrhiza.csproj.AssemblyReference.cache
/obj/Debug/net8.0/Mycorrhiza.csproj.BuildWithSkipAnalyzers
/obj/Debug/net8.0/Mycorrhiza.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/Mycorrhiza.csproj.FileListAbsolute.txt
/obj/Debug/net8.0/Mycorrhiza.csproj.Up2Date
/obj/Debug/net8.0/Mycorrhiza.dll
/obj/Debug/net8.0/Mycorrhiza.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/Mycorrhiza.pdb
/obj/Debug/net8.0/Mycorrhiza.sourcelink.json
/obj/Debug/net8.0/PublicizedAssemblies/tModLoader.7BA7068EDDCAF75AAA4DBEC5E9E65CF1/tModLoader.dll
/obj/Debug/net8.0/PublicizedAssemblies/tModLoader.7BA7068EDDCAF75AAA4DBEC5E9E65CF1/tModLoader.xml
/obj/Debug/net8.0/ref/Mycorrhiza.dll
/obj/Debug/net8.0/refint/Mycorrhiza.dll
/obj/Mycorrhiza.csproj.nuget.dgspec.json
/obj/Mycorrhiza.csproj.nuget.g.props
/obj/Mycorrhiza.csproj.nuget.g.targets
/obj/project.assets.json
/obj/project.nuget.cache
/Properties/launchSettings.json
/.vs/Mycorrhiza/v17/fileList.bin
